
body {
    font-family: 'Lucida Sans Unicode';
}

h1 {
    color: forestgreen;
    text-align: center; 
    letter-spacing: 4px;
}

.heading-title-subitem{
    color: peru;
}

h2 {
    color:yellowgreen;
    border-bottom: 1px solid yellowgreen;
}

.section {
    border: 1px solid silver;
    padding: 15px;
    margin: 15px;
    float: right;    
    width: 900px;
}

h3 {
    color: peru;   
}

nav {
    float: left;
    padding: 10px;
}

