
body {
    font-family: 'Lucida Sans Unicode';
}

h1 {
    color: forestgreen;
    text-align: center; 
    letter-spacing: 4px;
}

.heading-title-subitem{
    color: peru;
}

h2 {
    color:yellowgreen;
    border-bottom: 1px solid yellowgreen;
}

.section {
    border: 1px solid silver;
    padding: 15px;
    margin: 15px;
    float: right;    
    width: 900px;
}

h3 {
    color: peru;   
}

nav {
    float: left;
    padding: 10px;
}
nav ul li  {
    list-style: none;
}

nav ul li a {
    display:block;
    margin-bottom: 5px;
    border: 1px solid silver;
    background-color: rgb(210,233,141);
    width: 100px;  
    text-align: center;
    padding: 5px 7px; 
    text-decoration: none; 
    color: dimgray;
    font-size: 0.9em;
    font-weight: bold;
 
}

nav ul li a:hover {
    border: 1px solid dimgray;
}
.active {
    background-color: rgb(219,204,180);
    color:black;
}

